@model IEnumerable<SqlIntro.Product>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
    <tr>
        <th>
           Name
        </th>
        <th>
           Product Number
        </th>
        <th>
           List Price  </th>
        <th>
            Make Flag 
        </th>
        <th>
            Finished Goods Flag
        </th>
        <th>
            Color
        </th>
        <th>
            Safety Stock Level
        </th>
        <th>
            Reorder Point
        </th>
        <th>
            Days To Manufacture
        </th>
        <th>
            Standard Cost
        </th>
        <th>
            Modified Date
        </th>
        <th>
            Sell Start Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakeFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishedGoodsFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SafetyStockLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReorderPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaysToManufacture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StandardCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellStartDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
